<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a>Dashboard</a></li>
      <li><a routerLink="sondaggi">Sondaggi</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Utenti</a></li>
	  <li><a href="#">News</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><input type="text" class="w3-bar-item w3-input w3-black w3-mobile" placeholder="Search..."></li>
	  	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">All<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="#">Sondaggi</a></li>
			  <li><a href="#">Categorie</a></li>
			  <li><a href="#">News</a></li>
			</ul>
		</li>
	  <li><button class="w3-btn w3-black w3-round-large" style="height:30px; margin-top:9px; line-height:9px">Search</button></li>
      <li><a routerLink="profile"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      <li><a routerLink="/" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Sei autenticato!  {{username}}</h3>
</div>

</body>
</html>
