:host {
	text-align:center;
	margin-top: 40px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	color: #72839e;
	font-weight: bold;
	margin-bottom:60px;
}
div.input {
	position: relative;
	margin-top: 20px;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}

.w3-btn {
	margin-top:40px;
	width: 250px;
	font-size: 22px;
}


